<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu About</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <h1>Hello Ini <%= aboutHeader %></h1>

    <%- include('layouts/navbar') %>

    <img src="img/hello.jpg" alt="photo" />
    <h1>Suyud Setiawan Al Arif</h1>
    <p>Front-End Developer</p>
  </body>
</html>
