<div class="container">
  <div class="row">
    <div class="header-price">
      <h1>Harga yang ditawarkan di Lemon</h1>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Lemon SMA/SMK</h3>
          <h5 class="card-title">Harga: 4 Juta/semester</h5>
          <p class="desc-card mb-0">Mata pelajaran yang didapat:</p>
          <ul class="navbar-nav mb-2">
            <li class="nav-item">Bahasa Inggris</li>
            <li class="nav-item">Algoritma dan Pemrograman Lanjutan</li>
            <li class="nav-item">Membuat Website Sederhana</li>
          </ul>
          <a href="#" class="btn btn-primary">langganan</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Lemon SMP</h3>
          <h5 class="card-title">Harga: 2 Juta/semester</h5>
          <p class="desc-card mb-0">Mata pelajaran yang didapat:</p>
          <ul class="navbar-nav mb-2">
            <li class="nav-item">Bahasa Inggris</li>
            <li class="nav-item">Algoritma dan Pemrograman Dasar</li>
            <li class="nav-item">Matematika</li>
          </ul>
          <a href="#" class="btn btn-primary">langganan</a>
        </div>
      </div>
    </div>
  </div>
</div>
